.cardwrapper {
    border: solid black 1px;
    margin: 10px;
    display: flex;
    padding: 30px;
    width: 300px;
    background-color:rgb(84, 84, 84);
    color: white;
}

.cardwrapper button {
    font-size: 1em;
    border: solid black 1px;
    padding: 10;
    background: none;
    cursor: pointer;
    margin: 10px 0;
    background-color:rgb(132, 143, 218);
}

